html,body{
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
.grid-layout {
    display: grid;
    margin:0;
    grid-template-areas: "header header"
                            "main main"
                            "footer footer";
    grid-template-rows: 76px auto  150px;
    min-height: 100%;
}

header {
    grid-area: header;
    background: #380B61;
}

.header_in {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    display: flex;
}

a {
    text-decoration: none
}
ul{
    margin:0
}
.logo {
    display: flex;
}

footer {
    grid-area: footer;
    background: #380B61;
}

.main-container {
    /*max-width: 1200px;  Ajusta el ancho máximo según tus necesidades */
    grid-area: main; /* Centra el contenido horizontalmente */
    /*padding: 20px;  Añade un espacio alrededor del contenido */
    border: 1px solid;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: static;
    grid-area: hero;
    /* height: 300px; Ajusta la altura según tus necesidades */
    background-color: aquamarine;
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir completamente el contenedor */
    color: white; /* Color del texto */
    /*text-align: center;  Centra el texto */
    width: 100%;
    height: 680px;
    border: 1px solid;
    padding-top: 100px; /* Margen interior en la parte superior */
    padding-bottom: 100px; /* Margen interior en la parte inferior */
}


.hero-content {
    position: static;

}

.search-bar {
    margin-top: 20px; /* Espacio entre la sección de héroe y la barra de búsqueda */
    text-align: center; /* Centra el contenido */
}

.popular-services {
    margin-top: 20px; /* Espacio entre la barra de búsqueda y la sección de servicios populares */
    text-align: center; /* Centra el contenido */
}
.nav-item {
    padding: 10px;
}
.navbar-nav {
    display: flex; /* Indica que los elementos hijos deben ser flexibles */
    flex-direction: row; /* Establece la dirección de los elementos hijos como fila */
}
.text1 {
    font: helvetica;
    font-size: large;
}
span {
    font-size: 80px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -2.8px;
}