

header {
    background: #380B61;
}

.header_in {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    display: flex;
}

a {
    text-decoration: none
}
ul{
    margin:0
}
.logo {
    display: flex;
}

footer {
    background: #380B61;
}

