<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700;900&family=Rubik+Bubbles&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Digitech - Plataforma de Servicios Freelancer</title>
</head>
<body>
<header>

    <div class="container">
        <nav class="nav">
            <a class="logo" href="index.html">

                <div class="logo">
                    Digi<span>tech</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                        style="fill: #FF00BF;transform: rotate(90deg);">
                        <path d="M17.895 3.553A1.001 1.001 0 0 0 17 3H7c-.379 0-.725.214-.895.553l-4 8a1 1 0 0 0 0 .895l4 8c.17.338.516.552.895.552h10c.379 0 .725-.214.895-.553l4-8a1 1 0 0 0 0-.895l-4-7.999zM19.382 11h-7.764l-3-6h7.764l3 6zm-3 8H8.618l3-6h7.764l-3 6z"></path>
                    </svg>
                </div>

            </a>
            <ul class="menu">
                <li><a th:href="@{/}"> Home </a></li>
                <li class="dropdown popup" id = "popup">
                    <div class="dropdown-content popup-content" id= "popup-content">
                        <a onclick="loadPopupContent('/user/login')">Iniciar Sesión</a>
                        <a href="/user/register">Registrarse</a>
                    </div>
                </li>
                <li>
                    <div class="usuario">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: #fff;transform: msFilter">
                                <path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path>
                            </svg>
                        </a>
                        <a class="menu_modificado" th:href="@{/user/profile}">Perfil</a>
                    </div>
                </li>
            </ul>

        </nav>

        <div class="informacion">

            <h2 class="texto_principal">Encuentra de inmediato el servicio <span class="freelancer">freelancer</span>
                que estás buscando</h2>

            <div class="buscador">
                <form action="">
                    <input type="text" placeholder="buscar un servicio..">

                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24"
                            height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/>
                            <path d="M21 21l-6 -6"/>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="servicios">
                <ul class="servicio">
                    <li>Servicios Populares:</li>
                    <li class="servicio_borde">Diseño Web y Movil</li>
                    <li class="servicio_borde">Diseño Gráfico</li>
                    <li class="servicio_borde">Servicios de video y animación</li>
                    <li class="servicio_borde">Traducción</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="scrol">
</div>
<script src="css/js/01.js"></script>
</body>
</html>