<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700;900&family=Rubik+Bubbles&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;700;900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
<div class="dropdown" id="login_form">
    <!-- Vista cuando un usuario se registra correctamente-->
    <div th:if="${success != null}",class="container">
        <h1>Registro Exitoso</h1>
        <p th:text="${success}", class="success-message"></p>
    </div>
    
    <form name="f1" method="post" action="/user/signin" id="f1">
        <label for="username">Email:</label>
        <input type="text" name="email" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" name="login" value="Log In">
    </form>
    <p>¿No tienes una cuenta? <a href="/user/register">Regístrate aquí</a></p>
</div>
</body>
</html>
