<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700;900&family=Rubik+Bubbles&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;700;900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

<div id="login_form">
    <!-- Vista cuando un usuario se registra correctamente-->
    <div th:if="${success != null}" class="container">
        <h1>Registro Exitoso</h1>
        <p th:text="${success}" class="success-message"></p>
    </div>

<div>

    <form id="loginForm" class="popup-form">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Iniciar sesión" id="loginButton">
    </form>
    <p>¿No tienes una cuenta? <a th:href=${"/auth/register"}>Regístrate aquí</a></p>


</div>
    <script src="../css/js/login.js"></script>
</body>
</html>

