<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>DigiTech | Usuario</h1>
</header>
<main>
    <section class="user-profile">
        <img src="profile-picture.jpg" alt="Mi foto de perfil">
        <h2>Nombre de Usuario: </h2>
        <p>Descripción breve sobre mí.</p>
        <ul>
            <li><strong>Edad:</strong> 30 años</li>
            <li><strong>Ubicación:</strong> Ciudad, País</li>
            <li><strong>Intereses:</strong> Tecnología, Viajes, Deportes</li>
        </ul>
    </section>
</main>
<footer>
    <p>© 2024 Todos los derechos reservados</p>
</footer>
</body>
</html>

</body>
</html>