:root{
    --blanco:#fff;
    --negro: #000;
    --azul-claro : #00FFFF;
    --rosado : #FF00BF;
    --azul-oscuro : #045FB4;
    --morado : #380B61;

    --fuenteprincipal : font-family: 'Barlow Semi Condensed', sans-serif;
    
}

html {
    box-sizing: border-box; /*sirve para que un 1rem sean 10px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}

img{
    max-width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    
    background: linear-gradient(45deg,#ff0066d3,#8223d670,#0040ff79,#27d67979,#3befff51);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.nav{
    top: 0;
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-family: 'Big Shoulders Text', sans-serif;
    
}
.logo{
    text-decoration: none;
}
.informacion{
    max-width: 1200px;
    width: 95%;
    margin: 3rem auto 0 auto ;
    
    
}


@media (min-width: 768px) {
    .informacion{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2 , 50%);
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2 , 1fr);/*diferentes formas*/
        align-items: center;
        column-gap: 2rem;
    }
}

.texto_principal{
    color: var(--blanco);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2rem;
}
.freelancer{
    color: var(--rosado);
}
.nav.active{
    background-color: var(--blanco);
    
}
.nav.active .logo,
.nav.active .menu a{
    color: var(--negro);
    border-color: var(--rosado)
}


.logo{
    color: var(--blanco);
    font-size: 2.2rem;
    font-weight: 700;
    
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    margin: 1rem;
}
.menu li a{
    color: var(--blanco);
    text-decoration: none;
    font-weight: 400;
}
.menu_modificado{
    border: 1px solid var(--blanco);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}
.menu_modificado:hover{
    background-color: var(--rosado);
    border-color: var(--rosado);
    transition: all 0.5s ease;
    color: var(--blanco);
    padding: 1rem;
}
.usuario{
    display: flex;
    align-items: center;
    margin: 0 0 0 3rem;
}
.usuario svg:hover{
    
    width: 2rem;
    height: 2rem;
    
}

.scrol{
    height: 10rem;
}

