<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700;900&family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;700;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Digitech - Plataforma de Servicios Freelancer</title>
</head>
<body>
    <header>
        
        <div class="container">
            <nav class="nav">
                <a class="logo" href="index.html">
                    <div class="logo">Digi<span>tech</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill: #FF00BF;transform: rotate(90deg);msFilter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);"><path d="M17.895 3.553A1.001 1.001 0 0 0 17 3H7c-.379 0-.725.214-.895.553l-4 8a1 1 0 0 0 0 .895l4 8c.17.338.516.552.895.552h10c.379 0 .725-.214.895-.553l4-8a1 1 0 0 0 0-.895l-4-7.999zM19.382 11h-7.764l-3-6h7.764l3 6zm-3 8H8.618l3-6h7.764l-3 6z"></path></svg></div>

                </a>
                <ul class="menu">
                    
                    <li><a href="#">Home</a></li>
                    <li><a href="iniciar.html">Iniciar Sesión</a></li>
                    <li><a href="#" class= "menu_modificado">Regístrate</a></li>
                </ul>

            </nav>
            <div class="informacion">
                
                <h2 class="texto_principal">Encuentra de inmediato el servicio <span class="freelancer">freelancer</span> que estás buscando</h2>
                
                <img src="../static/css/img/undraw_building_websites_i78t.svg" alt="">
            </div>
        </div>
    </header>
    <div class="scrol">
        
    </div>
    <script src="../static/css/js/01.js"></script>
</body>
</html>