<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Bienvenido</h1>
            <h2>Registra tu trabajo rey: </h2>
            <div class="informacion">
                
                <form action="/registrar/registro" method="POST">
                    <div>
                        <input type="text" class="form-group" name="trabajo" placeholder="Trabajo a realizar">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Listo</button>
                    
                </form>

            </div>
        
        
        </div>
    </body>
</html>
